body {
    background-color:black;
    font-family:arial;
    color:white;
    display: grid;
    place-items: center;
    height: 100vh;
}
h1{
    color:grey;
    font-family:verdana;
    text-align: center;
}

.maindiv {
    background-color: white;
    color: black;
    width: 400px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}
footer {
    color: gray;
}
footer a {
    color: black;
    font-weight: 600;
}

.inter {
    display: flex;
    justify-content: space-around;
}

.butres {
    margin-left: 10px;
}

#rate:focus {
    border: 1px solid gray;
    outline: 1px solid gray;
}

input {
    border-radius: 8px;
}
